// Day {{.Day}}
// go run .

package main

import (
	"bufio"
	"fmt"
	"log"
	"os"
)

var PUZZLE_PATH = "puzzle.txt"
var SAMPLE_PATH = "sample.txt"

func parse() []string {
	// read
	file, err := os.Open(PUZZLE_PATH)
	if err != nil {
		log.Fatal(err)
	}
	defer file.Close()

	var lines []string
	scanner := bufio.NewScanner(file)
	for scanner.Scan() {
		lines = append(lines, scanner.Text())
	}
	return lines
}

func solve_p1(puzzle []string) string {
	// code here

	return "no answer provided"
}

func solve_p2(puzzle []string) string {
	// code here

	return "no answer provided"
}

func main() {
	fmt.Println("Running Code - Day {{.Day}}")

	puzzle := parse()

	fmt.Printf("Day 1: %s\n", solve_p1(puzzle))
	fmt.Printf("Day 2: %s\n", solve_p2(puzzle))
}
