# Day {{.Day}}
# python3 solution.py

PUZZLE_PATH = 'puzzle.txt'
SAMPLE_PATH = 'sample.txt'

def parse():
    # read
    with open(PUZZLE_PATH) as f:
        lines = [i.strip() for i in f.readlines()]
    return lines

def solve_p1(puzzle):
    # code here 

    return  "no answer provided"

def solve_p2(puzzle):
    # code here 

    return  "no answer provided"

if __name__ == "__main__":
    print('Running Code - Day {{.Day}}')

    puzzle = parse()

    print(f'Day 1: {solve_p1(puzzle)}')
    print(f'Day 2: {solve_p2(puzzle)}')